@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap%27');

body {
  margin: 0;
  padding: 0px;
  background-color: black;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}
* {
  box-sizing: border-box;
}

code {
  font-family: 'Poppins', sans-serif;
}
/*-------------------Header--------------------*/

.header {
  background-image: url(./assets/banner.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 768px; */
}

.background-header {
  /* background-color: rgba(255, 96, 96, 0.2); */
  height: 941px;
  width: 100%;
  background: radial-gradient(circle, rgba(255, 0, 0, 0.5) 80px, rgb(0, 0, 0));
}

.mainheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  line-height: 1.5;
}

.mainheader h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 6rem;
  margin: 0;
}

h1 span {
  color: #ff0000;
}

.mainheader p {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}
/*-------------------------Boton------------------*/

.btn {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 1.3rem 2rem;
  padding: 1rem 2.2rem;
  border-radius: 5%;
  border: 2px solid #ff0000;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
}

.btn:hover {
  background-color: transparent;
  box-shadow: 3px 3px 30px 6px #ff0000;
}

/*--------------------Navbar----------------*/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: aliceblue;
  text-decoration: none;
  list-style-type: none;
}

li {
  text-transform: uppercase;
  margin-right: 2.5rem;
  padding: 0.3rem 1rem;
}

li:hover {
  background-color: #ff0000;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  cursor: auto;
  border-radius: 5%;
  -webkit-box-shadow: 3px 3px 5px 6px #ff0000;
  -moz-box-shadow: 3px 3px 5px 6px #ff0000;
  box-shadow: 3px 3px 30px 6px #ff0000;
}

li:last-of-type {
  margin-right: 0;
}

/*---------Features----------------*/

#features {
  height: 941px;
  width: 100%;
  text-align: center;
}

#features h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
}

.a-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  padding: 0 30px;
}

.box-container {
  display: flex;
  flex-direction: row;
  height: 80%;
}
.a-b-img {
  margin-bottom: 60px;
}
.a-b-title h2 {
  font-weight: 500;
  text-align: center;
}

/*-----------Offer -----------------*/

.offercontainer {
  height: 941px;
  width: 100%;
  background-image: url(./assets/offer.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offercontainer h1 {
  text-align: center;
  line-height: 6rem;
}

.offercontainer p {
  font-weight: 300;
}

/*----------------About----------*/

.about-container {
  height: 941px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  max-width: 70%;
  height: auto;
}

.text-container {
  max-width: 50%;
  margin: 0 20px;
}

.text-container h1 {
  color: #ff0000;
  line-height: 5.2rem;
  font-size: 5rem;
}

.text-container .btn {
  font-size: 1rem;
  border-radius: 15px;
}

/*--------------Contact ---------------------*/

.contact-container {
  height: 941px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container h1 {
  font-size: 4rem;
}

input {
  border: none;
  margin: 5px auto;
  background-color: #222022;
  color: #575557;
  height: 3rem;
  width: 40rem;
  border-radius: 5px;
  padding: 20px;
}

textarea {
  margin: 5px auto;
  border: none;
  resize: none;
  width: 720px;
  height: 193px;
  background-color: #222022;
  color: #575557;
  border-radius: 5px;
  padding: 20px;
}

.container-input {
  justify-content: center;
}

.container-input .btn {
  border-radius: 5px;
  width: 720px;
  margin: 0;
}
